/* 
---- 01 TYPOGRAPHY SYSTEM -------------------

-Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:
 Default:400;
 Bolder: 500;
 Boldes:700;

-Line heights:
 Dafault: 1
 Small: 1.05
 Big:1.8

-Letter spacing:


---- 02 Colors --------------------------------

-Primary : 
-Tints:
  -Shades:
-Accents:
-Greys: 
  #333
-Accessories:
---- 04 Shadows --------------------------------
---- 05 Border-radius --------------------------
  Default: 9px
---- 06 Fonts ----------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
font-family: 'Roboto', sans-serif;
---- 07 Whitespace -----------------------------

-Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f1f3f5;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 140rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.sm-container {
  padding: 0 3.2rem;
}

.primary-heading {
  font-size: 5.2rem;
  line-height: 1.1;
  font-weight: 700;
}

.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.4rem;
}

.tertiary-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin: 3.2rem 0;
}

.justify--center {
  justify-content: center;
}

.subheading {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #f59f00;
  font-weight: 500;
  display: block;
  letter-spacing: 0.75px;
  margin-bottom: 1.2rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #222;
}

.form-heading {
  color: #222;
}

.user-form {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4rem rgba(8, 7, 16, 0.6);
  padding: 5rem 3.5rem;
}
.user-form * {
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

.form-label {
  display: block;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
}
.form-input {
  display: block;
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255);
  border-radius: 3px;
  padding: 0 1rem;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.user-form::placeholder {
  color: #e5e5e5;
}
.action--form {
  margin-top: 5rem;
  width: 100%;
  background-color: #ffffff;
  color: #222;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.4s all ease;
}

.action--form:hover {
  background-color: #222;
  color: #fff;
}

.user-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 9.8rem 0;
}
