/* HEADER */

.header {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 100vh;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3.2rem 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navigation--list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.logo-leaf {
  width: 2.4rem;
  height: 2.4rem;
  color: #51cf66;
}

.logo--name {
  font-size: 2rem;
  font-weight: 700;
}

.navigation--item:link,
.navigation--item:visited {
  font-size: 1.6rem;
  color: #222;
}

.action--btn:link,
.action--btn:visited {
  font-size: 1.6rem;
  background: transparent;
  border-radius: 11px;
  border: 0.1rem solid #000;
  padding: 0.7rem 1.4rem;
}

.line {
  height: 0.1rem;
  width: 100%;
  background-color: #777;
}

.main--part {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.main--gnome {
  width: 80%;
  display: inline-block;
}

.gnome-image-box {
  position: relative;
}

.gnome-image-box::before {
  display: block;
  position: absolute;
  content: "";
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 50% 50% 0 70%;
  transform: translate(-60%, -50%);
  background-color: #d0ebff;
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-right: 12.8rem;
}

.hero-desc {
  font-size: 2rem;
  margin-top: 1.6rem;
  line-height: 1.3;
}

.btns {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.2rem;
}

.btns a:link,
.btns a:visited {
  border-radius: 9px;
  font-size: 2rem;
  padding: 1.4rem 2.8rem;
  text-decoration: none;
  color: #222;
}

.cta--btn:link,
.cta--btn:visited {
  background-color: #fcc419;
  border: none;
}

.shop--btn:link,
.shop--btn:visited {
  background-color: #f7f7f7;
  box-shadow: 0 0 0.2rem rgb(0, 0, 0) inset;
}

.hero-testimonials {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.customers {
  display: flex;
  align-items: center;
}

.customer--img {
  width: 6.4rem;
  height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -1.6rem;
}

.customer--img:last-child {
  margin-right: 0;
}

.cta--message {
  font-size: 2rem;
}

.cta--message strong {
  color: #f59f00;
}

/* TOP GNOMES */

.top--gnomes {
  padding: 9.8rem 0;
}

.top-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
  /* padding-bottom: 9.8rem; */
}

.gnome-img {
  width: 100%;
}

.gnome--card {
  overflow: hidden;
  background-color: #f7f7f7;
  border-radius: 11px;
  box-shadow: 0 1.5rem 0.7rem rgb(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.4s ease-out;
}

.gnome--card:hover {
  transform: scale(1.05);
}

.specification {
  position: absolute;
  left: 0;
  bottom: -18rem;
  background-color: rgb(232, 245, 255, 0.5);
  backdrop-filter: blur(7px);
  width: 100%;
  padding: 1.8rem 3.2rem 6.4rem 3.2rem;
  /* transform: translateY(17rem); */
  border-radius: 50%/10%;
  transition: all 0.4s ease;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.specification:hover {
  /* transform: translateY(2rem); */
  bottom: -2rem;
}

.specification--list {
  list-style: none;
}

.list--item {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
}

.list--check {
  width: 3.2rem;
  height: 3.2rem;
  color: #ffd43b;
}

.list-specification {
  font-size: 2.4rem;
}

/* About us */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9.8rem;
}

.about-us-paragraph {
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

/* TESTIMONIALS */

.testimonials--gallery {
  padding: 1.2rem 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: #e8f5ff;
}
.reviews {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.customer-image {
  width: 15%;
  border-radius: 50%;
}

.customer-name {
  font-size: 1.4rem;
  color: #aaa;
}

.review {
  line-height: 1.8;
  letter-spacing: 1.2;
  padding-right: 4.8rem;
  font-size: 1.8rem;
  color: #777;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: stretch;
}

.gallery--img--container {
  overflow: hidden;
}

.gallery--img {
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-in;
}

.gallery--img:hover {
  transform: scale(1.2);
}

/* CONTACT US */

.contact-us {
  margin-top: 9.8rem;
  margin-bottom: 9.8rem;
  padding: 3.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr;
}

.heading-contact {
  text-align: center;
  grid-column: 1/-1;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 3.2rem;
  align-self: flex-start;
}

.info-div {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.contact--icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #f59f00;
}

.info-text {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.info-heding {
  font-size: 2rem;
}

.info-desc {
  font-size: 1.6rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2.4rem;
  column-gap: 2.4rem;
  height: 100%;
}

.form input {
  padding: 2.4rem;
  border: none;
  border-radius: 9px;
}

.subject {
  grid-column: 1/-1;
}

.message {
  grid-column: 1/-1;
}

.submit {
  background-color: #f59f00;
  color: #fff;
  font-size: 1.8rem;
}
/* Text - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
Spacing - 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
